* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial black, Helvetica, sans-serif;
}

.header {
    height: 100px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: relative;
    font-size: 40px;
}

.header .web-name {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition-duration: .4s;
    opacity: .7;
    font-family: 'Lobster', cursive;
}

.header .web-name:hover {
    opacity: 1;
}

.header .buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.header .buttons a {
    cursor: pointer;
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition-duration: .4s;
}

.header .buttons a:hover {
    color: white;
}

.main {
    background-color: rgb(11, 18, 31);
    height: 880px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vw;
}

.list a {
    padding: 5px;
    margin: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(27, 38, 59);
    transition-duration: .2s;
    opacity: .7;
    border-radius: 10px;
}

.list .pvpPack {
    margin-top: 150px;
}

.list a:hover {
    opacity: 1;
}

.footer {
    height: 50px;
    background-color: rgb(27, 38, 59);
    position: relative;
}

.footer .fa-discord {
    font-size: 40px;
    color: #7289da;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .4s;
    opacity: .5;
}

.footer .fa-discord:hover {
    opacity: 1;
}


@media screen 
  and (max-device-width: 1600px) { 

    .header .web-name {
        left: 15%;
    }
}

@media screen 
  and (max-device-width: 1200px) { 
    .header .web-name{
        left: 15%;
        font-size: 50px;
    }

    .header .buttons{
        font-size: 30px;
    }
}

@media screen 
  and (max-device-width: 800px) {

    .header .web-name {
        top: 20%;
        left: 22%;
        font-size: 25px;
    }

    .header .buttons {
        top: 60%;
        left: 50%;
        font-size: 20px;
        width: 100%;
    }
}