* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 50px;
}

.header {
    height: 100px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: relative;
    font-size: 40px;
}

.header .web-name {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition-duration: .4s;
    opacity: .7;
    font-family: 'Lobster', cursive;
}

.header .web-name:hover {
    opacity: 1;
}

.header .buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.header .buttons a {
    cursor: pointer;
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition-duration: .4s;
}

.header .buttons a:hover {
    color: white;
}

.content {
    background-color: rgb(11, 18, 31);
    height: 880px;
    position: relative;
}

.content .text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

.img {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: rotate(-40deg);
}

.content strong {
    font-size: 120px;
    color: rgb(11, 18, 31);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transition-duration: .2s;
}

.content strong:hover {
    color: rgb(61, 77, 104);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: rgba(255,255,255,1) 0px 0px 40px;
}

.content2{
    background-color: rgb(27, 38, 59);
    height: 880px;
    position: relative;
}

.content2 .text {
    position: absolute;
    top: 10vh;
    text-align: center;
    color: white;
    font-size: 100px;
    width: 100%;
}

.content2 strong {
    animation: blink-caret .5s step-end infinite;
    color: rgb(177, 177, 177);
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    font-style: italic;
}

.content2 .js-logo {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.js-logo:hover {
    animation: shake .5s infinite;
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    10% { transform: translate(-50%, -50%) rotate(-3deg); }
    20% { transform: translate(-50%, -50%) rotate(0deg); }
    30% { transform: translate(-50%, -50%) rotate(-2deg); }
    40% { transform: translate(-50%, -50%) rotate(3deg); }
    50% { transform: translate(-50%, -50%) rotate(-3deg); }
    60% { transform: translate(-50%, -50%) rotate(0deg); }
    70% { transform: translate(-50%, -50%) rotate(-3deg); }
    80% { transform: translate(-50%, -50%) rotate(3deg); }
    90% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(-3deg); }
}

.content3 {
    background-color: rgb(11, 18, 31);
    height: 880px;
    position: relative;
}

.content3 .text {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    width: 100%;
    text-align: center;
}

.content3 .text2 {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    width: 100%;
    text-align: center;
}

.youtube-embed {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content3 strong {
    color: #ff6060;
    text-decoration: underline;
    font-style:italic;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to {transform: rotate(360deg) }
}


@media screen 
  and (max-device-width: 1600px) { 

    .header .web-name {
        left: 15%;
    }

    .content .text {
        top: 400px;
        font-size: 50px;
    }

    .content strong {
        font-size: 90px;
    }

    .img img{
        transform:rotate(-60);
        height: 350px;
        width: 350px;
    } 

    .img {
        left: 64%;
    }

    .content2 .text{
        font-size: 60px;
    }
    
    .content3 .text {
        font-size: 60px;
    }

    .content3 .text2 {
        font-size: 60px;
    }
}

@media screen 
  and (max-device-width: 1200px) { 
    .header .web-name{
        left: 15%;
        font-size: 50px;
    }

    .header .buttons{
        font-size: 30px;
    }
    
    .content .text {
        top: 20%;
        left: 50%;
        width: 100%;
        text-align: center;
        font-size: 60px;
    }

    .img {
        top: 30%;
        left: 35%;
    }

    .content3 .text {
        font-size: 50px;
    }

    .content3 .text2 {
        font-size: 50px;
    }

    .youtube-embed {
        top: 50vh;
    }
}

@media screen 
  and (max-device-width: 800px) {

    .header .web-name {
        left: 20%;
        font-size: 40px;
    }

    .header .buttons {
        left: 70%;
        font-size: 20px;
    }

    .content .text {
        font-size: 30px;
    }

    .content strong {
        font-size: 60px;
    }
    
    .img {
        transform: rotate(0) scale(.8);
        left: 1%;
    }

    .content2 .text {
        font-size: 30px;
    }

    .content3 .text {
        font-size: 20px;
    }

    .content3 .text2 {
        font-size: 20px;
    }

    .youtube-embed iframe{
        height: 300px;
        width: 300px;
    }
}